.search {
    background-color: rgb(231, 228, 228);
}

@media screen and (min-width: 768px) {
    .searchArea {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .searchArea {
        width: 25%;
    }
}